services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Leuchtfeuer\Locate\Command\UpdateIpDatabaseCommand:
    tags:
      - name: console.command
        command: locate:update
        schedulable: false

  Leuchtfeuer\Locate\Middleware\LanguageRedirectMiddleware:
    public: true

  Leuchtfeuer\Locate\Utility\LocateUtility:
    public: true
